@use '../../styles/mixins' as *;



.career-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  margin-bottom: 50px;
  word-break: keep-all;

  .body {
    width: 100%;
    padding: 0 10px;

    .career {
      display: flex;
      justify-items: center;

      width: 100%;
      margin-left: 5px;
      padding: 10px 0;
      border-left: 2px solid #bdbdbd;

      font-size: 18px;
      font-weight: 400;

      &:first-child {
        padding-top: 7px;
      }

      &:last-child {
        padding-bottom: 7px;
      }

      &::before {
        position: relative;
        left: -1px;
        content: '';
        align-self: center;
        width: 10px;
        height: 10px;
        background-color: var(--background-color);
        border-radius: 10px;
        transform: translatex(-50%);
        border: 2px solid #828282;
      }

      .date {
        margin-left: 5px;
        margin-right: 5px;
        width: 115px;
        min-width: 115px;
        color: #828282;
        align-self: center;

        @include md {
          width: 200px;
          min-width: 200px;
        }
      }

      .company-line {
        display: flex;
        align-items: baseline;
        gap: 8px;
        flex-wrap: wrap;
      }

      .title-en {
        font-size: 14px;
        font-weight: 500;
        // margin-bottom: 3px;
      }

      .title-kr {
        font-size: 10px;
        font-weight: 300;
        // margin-bottom: 3px;
      }

      .position {
        font-size: 12px;
        font-weight: 400;
        margin-bottom: 3px;
      }

      .activity {
        line-height: 23px;
        width: 100%;
      }
    }
  }
}